.sellfooter
  %ul.sellfooter__bottom
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        プライバシーポリシー
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        FURIMA利用規約
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        特定商取引に関する表記
  .sellfooter__bottomLogo
    = link_to root_path , class: "sellfooter__bottomLogo__Link" do
      = image_tag "/assets/logo/logo-gray.png", class: "sellfooter__bottomLogo__LinkIcon"
  .sellfooter__bottomPoricy
    %p.sellfooter__bottomPoricyLogo
      © FURIMA