.main
  .showMain
    .showFlame
      .detailProduct
        .showBox
          %h2.ShowBox__nameHead ee
          .ShowBox__body
            %ul
              %li
                -# %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG"}/
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", size: "560x346", alt: "test"
                %ul
                  %li
                    = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", size: "140x87", alt: "test"
                  %li
                    = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/17/IMG_9069.JPG", size: "140x87", alt: "test"
          .ShowBox__price
            %span
              ¥1000
            .ShowBox__price-data
              %span--data
                (税込)
              %span--data
                送料込み
          .ShowBox__name eee
          .ShowTable
            %table
              %tbody
                %tr
                  %th 出品者
                  %td ss
                %tr
                  %th カテゴリー
                  %td
                    %a{:href => "#"} ベビー・キッズ
                    %br/
                    %a{:href => "#"} ベビー服(男の子用)  ~95cm
                    %br/
                    %a{:href => "#"} アウター
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 新品/未使用
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %a{:href => "#"} 北海道
                %tr
                  %th 発送日の目安
                  %td 1-2日で発送
          .CheckArea
            %ul.CheckBtn
              .likeBtn
                = link_to "#" do
                  = icon("fa","star",class: "likeBtn__Icon" )
                  お気に入り 0
            %ul.CheckBtn
              .badBtn--decoration
                = link_to "#" do
                  = icon("fa","flag")
                  不適切な商品の通報
        .commentArea
          .commentBox
            .new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "jzpK84Ky4F7zbYNU9aBydpcUbRF1wpPOyVTc54rvqD5JwYV18qH72g3FCMmp7jrUwqXWUiRLCtkRCpUeru4nOw=="}/
              %textarea{name: "comment[body]", required: "required", class: "comment_middle"}
              %p.atention
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントする
      = render 'products/show/links'
      = render 'products/show/moreProducts'
