.h2 本人確認情報登録

= form_for @personal do |f|
  = render "devise/shared/error_messages", resource: @personal

  .field
    = f.label :birthday
    %br
    != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
    -# = f.text_field :birthday

  .field
    = f.label :firstname
    %br
    = f.text_field :firstname

  .field
    = f.label :lastname
    %br
    = f.text_field :lastname

  .field
    = f.label :h_firstname
    %br
    = f.text_field :h_firstname

  .field
    = f.label :h_lastname
    %br
    = f.text_field :h_lastname

  .actions
    = f.submit "next"

= render "devise/shared/links"