.sellHeader
  = link_to "/", class: "sellHeader__link" do
    = image_tag '/assets/logo.png' ,alt: "FURIMA" , class: "sellHeader__icon"

.field
  .field_box
    %h2.field_box__text
      送付先住所情報登録
  %hr.formCutter
  .formzone
    = form_for @sendaddress  do |f|
      .field__boxColumn
        %span お名前(漢字)
        %span.field__boxColumn__essential
          必須
        %br
        .field__boxColumn__input__marginT25
          = f.text_field :s_firstname, autofocus: true, autocomplete: "s_firstname" , placeholder: "例) 山田", class: "field__boxColumn__text"
          %br
          %br
          = f.text_field :s_lastname, autofocus: true, autocomplete: "s_lastname" , placeholder: "例) 花子", class: "field__boxColumn__text"
        - if @sendaddress.errors.include?(:s_firstname) || @sendaddress.errors.include?(:s_lastname)
          %p.error_message
            お名前（漢字）を入力してください

      .field__boxColumn
        %span お名前(カタカナ)
        %span.field__boxColumn__essential
          必須
        %br
        .field__boxColumn__input__marginT25
          = f.text_field :s_h_firstname, autofocus: true, autocomplete: "s_h_firstname" , placeholder: "例) ヤマダ", class: "field__boxColumn__text"
          %br
          %br
          = f.text_field :s_h_lastname, autofocus: true, autocomplete: "s_lastname" , placeholder: "例) ハナコ", class: "field__boxColumn__text"
        - if @sendaddress.errors.include?(:s_h_firstname) || @sendaddress.errors.include?(:s_h_lastname)
          %p.error_message
            お名前(カナ)を入力してください

      .field__boxColumn
        %span 郵便番号(数字7桁で入力)
        %span.field__boxColumn__essential
          必須
        %br
        .field__boxColumn__input__marginT25
          = f.text_field :zipcode, autocomplete: 'zipcode', class: 'field__boxColumn__text', autofocus: true, autocomplete: "zipcode" , placeholder: "例) 1234567", maxlength: "7", pattern:'\d{7}'
        - if @sendaddress.errors.include?(:zipcode)
          %p.error_message
            郵便番号を入力してください

      .field__boxColumn
        %span 都道府県
        %span.field__boxColumn__essential
          必須
        %br
        .field__boxColumn__input__marginT25
          = f.collection_select :prefectures, JpPrefecture::Prefecture.all, :code, :name, {prompt: "---"} , {class: "field__boxColumn__text"}
        - if @sendaddress.errors.include?(:prefectures)
          %p.error_message
            都道府県を入力してください

      .field__boxColumn
        %span 市区町村
        %span.field__boxColumn__essential
          必須
        %br
        .field__boxColumn__input__marginT25
          = f.text_field :municipalitities, autocomplete: 'municipalitities', class: "field__boxColumn__text", placeholder: "例) 千代田区"
        - if @sendaddress.errors.include?(:municipalitities)
          %p.error_message
            市区町村を入力してください

      .field__boxColumn
        %span 番地
        %span.field__boxColumn__essential
          必須
        %br
        .field__boxColumn__input__marginT25
          = f.text_field :streetaddress, autocomplete: 'streetaddress', class: "field__boxColumn__text", placeholder: "例) 丸の内３丁目３−番1号"
        - if @sendaddress.errors.include?(:streetaddress)
          %p.error_message
            番地を入力してください

      .arbitrarily_field
        %span 部屋番号
        %span.arbitrarily_field__boxColumn__essential
          任意
        %br
        .arbitrarily_field__boxColumn__input__marginT25
          = f.text_field :room, autocomplete: "room" , placeholder: "例) 新東京ビル 4F", class: "arbitrarily_field__boxColumn__text"

      .arbitrarily_field
        %span 電話番号
        %span.arbitrarily_field__boxColumn__essential
          任意
        %br
        .arbitrarily_field__boxColumn__input__marginT25
          = f.text_field :phonenumber, autofocus: true, autocomplete: "phonenumber" , placeholder: "例) 050-3187-3522", class: "arbitrarily_field__boxColumn__text", pattern:'\d{2,4}-\d{3,4}-\d{3,4}'

      .arbitrarily_field
        .arbitrarily_field__boxColumnNext
          = f.submit value:"登録する", class: "arbitrarily_field__boxColumnNext__btn"

.sellfooter
  %ul.sellfooter__bottom
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        プライバシーポリシー
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        FURIMA利用規約
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        特定商取引に関する表記
  .sellfooter__bottomLogo
    = link_to root_path , class: "sellfooter__bottomLogo__Link" do
      = image_tag "/assets/logo/logo-gray.png", class: "sellfooter__bottomLogo__LinkIcon"
  .sellfooter__bottomPoricy
    %p.sellfooter__bottomPoricyLogo
      © FURIMA
= javascript_include_tag 'application'