= render partial: '/products/header_index.html.haml'
-# ここからユーザのマイページ予定
.mypageWrapper
  .mypage-right
  .mypage-left
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to "/mypage", class: "mypage-nav-list-item active" do
            マイページ
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            お知らせ
            %span.mypage-nav-number
              2
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            やることリスト
            %span.mypage-nav-number
              1
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            いいね！一覧
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/products/new", class: "mypage-nav-list-item" do
            出品する
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            下書き一覧
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            出品した商品 - 出品中
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            出品した商品 - 取引中
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            出品した商品 - 売却済み
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            購入した商品 - 取引中
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            購入した商品 - 過去の取引
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            ニュース一覧
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            評価一覧
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            ガイド
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            お問い合わせ
            = icon("fa", "angle-right",class: "icon-arrow-right")
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            売上・振込申請
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            ポイント
            = icon("fa", "angle-right",class: "icon-arrow-right")
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            プロフィール
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            発送元・お届け先住所変更
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/cards", class: "mypage-nav-list-item" do
            支払い方法
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            メール/パスワード
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            本人情報
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/mypage/#", class: "mypage-nav-list-item" do
            電話番号の確認
            = icon("fa", "angle-right",class: "icon-arrow-right")
        %li
          = link_to "/logout", class: "mypage-nav-list-item" do
            ログアウト
            = icon("fa", "angle-right",class: "icon-arrow-right")
= render partial: '/products/banner_index'
= render partial: '/products/footer_index'