= render partial: '/products/header_index.html.haml'
-# ここからユーザのマイページ予定
.mypageWrapper
  .mypage-right
    %section.mypage-user-icon
      = link_to "#",class:"mypage-user-link" do
        %figure
          = image_tag "icon/member_photo_noimage.png", alt: "", height: 60 ,width: 60
        %h2.bold マコなり
        .mypage-user-number
          %div
            評価
            %span.bold 1
          %div.marginL10
            出品数
            %span.bold 1
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
              お知らせ
        %li
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-todo"}
              やることリスト
              %span.mypage-nav-number.hidden-large
                1
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【梱包資材の入手にお困りの方必見】梱包資材を便利にまとめ買い！メルカリストアのご紹介」
                %time
                  %i.icon-time
                  %span 35 分前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【この通知が届いた方限定】メルペイ使うと「配送料がお得になるクーポン」もらえる」
                %time
                  %i.icon-time
                  %span 2 時間前
              %i.icon-arrow-right
          %li.mypage-go-list
            %a{:href => "/jp/mypage/notification/"} 一覧を見る
      %ul#mypage-tab-todo.mypage-item-list.tab-pane
        %li
          %a.mypage-item-link{:href => "https://www.mercari.com/jp/help_center/article/759/"}
            %figure
              %img.lazyload{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png"}/
            .mypage-item-body
              .mypage-item-text ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
              %time
                %i.icon-time
                %span 75 日前
            %i.icon-arrow-right
        %li.mypage-go-list
          %a{:href => "/jp/mypage/todo/"} 一覧を見る

    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-now"}
              取引中
        %li
          %h3
            %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-old"}
              過去の取引
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 過去に取引した商品がありません

  = render partial: '/mypage/mypage-left'
= render partial: '/products/banner_index'
= render partial: '/products/footer_index'