.sellHeader
  = link_to "/", class: "sellHeader__link" do
    = image_tag '/assets/logo.png' ,alt: "FURIMA" , class: "sellHeader__icon"


.field
  .field_box
    %h2.field_box__text
      ログイン
  %hr.formCutter

  .loginform
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      .field__boxColumn
        %span メールアドレス
        %br/
        .field__boxColumn__input__marginT25
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "アドレスを入力してください", class: "field__boxColumn__text"
      .field__boxColumn
        %span パスワード
        %br/
        .field__boxColumn__input__marginT25
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力してください", class: "field__boxColumn__text"
  
      - if devise_mapping.rememberable?
        .field__remember
          = f.check_box :remember_me, class: "field__remember__btn"
          = f.label :remember_me, class: "field__remembe__btn"
          
      .field__boxColumn
        .field__boxColumnNext
          = f.submit value:"ログイン", class: "field__boxColumnNext__btn" 
  .field__footer
    = link_to "パスワードを忘れた方はこちら", new_password_path(resource_name), class: "field__footer__text"


.sellfooter
  %ul.sellfooter__bottom
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        プライバシーポリシー
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        FURIMA利用規約
    %li.sellfooter__bottom__note
      = link_to "app/products/new", class: "sellfooter__bottom__note__ex" do
        特定商取引に関する表記
  .sellfooter__bottomLogo
    = link_to root_path , class: "sellfooter__bottomLogo__Link" do
      = image_tag "/assets/logo/logo-gray.png", class: "sellfooter__bottomLogo__LinkIcon"
  .sellfooter__bottomPoricy
    %p.sellfooter__bottomPoricyLogo
      © FURIMA