.main
  %section.topView
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        = link_to "#", class: "appleBtn" do
          = image_tag "badge/app-store-badge.svg"
        = link_to "#", class: "googleBtn" do
          = image_tag "badge/google-play-badge.svg"
  %section.topIntro
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.list__pict__number 1
          = image_tag 'pict/reftresize.jpg', class: 'list__pict__img', alt: 'reftresize.jpg'
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.list__pict__number 2
          = image_tag 'pict/resize-center.jpg', class: 'list__pict__img', alt: 'resize-center.jpg'
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--right
        .list__pict
          %span.list__pict__number 3
          = image_tag 'pict/resize-right.jpg', class: 'list__pict__img', alt: 'resize-right.jpg'
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&amp;購入！
  %section.topDl
    .topDlItems
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .btn
        = link_to "#", class: "appleBtn" do
          = image_tag "/assets/badge/app-store-badge.svg"
        = link_to "#", class: "googleBtn" do
          = image_tag "/assets/badge/google-play-badge.svg"
  %section.topFeatures
    %h2.head FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag "/assets/icon/icon-01.png"
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag "/assets/icon/icon-03.png"
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.item
        %figure.item__img
          = image_tag "/assets/icon/icon-04.png"
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.pickup
    %h2.head 商品一覧
    .productBox
      .productHead
        = link_to "#" do
          %h3.title 投稿商品一覧
      .productLists
        = render partial: 'product_index'
  %section.pickup
    %h2.head ピックアップカテゴリー
    .productBox
      .productHead
        = link_to "#" do
          %h3.title 投稿商品一覧
      .productLists
        = render partial: 'product_index'
  %section.pickup
    %h2.head ピックアップブランド
    .productBox
      .productHead
        = link_to "#" do
          %h3.title 投稿商品一覧
      .productLists
        = render partial: 'product_index'