%noscript
  %p javascriptsを有効化してください
= render partial: '/products/header_index.html.haml'
.mypageWrapper
  = render partial: '/mypage/mypage-right'
  = render partial: '/mypage/mypage-left'
= render partial: '/products/banner_index'
= render partial: '/products/footer_index'
= javascript_pack_tag 'users/link-hi'

登録完了
- @cards.each do |card|
  %p=card.user.name
  %p=card.id
  %p=card.user_id
  %p=card.customer_id
  %p=card.card_id
  = link_to "削除", card_path(card), method: :delete