= form_with model: @product, url: products_path, class: "form" ,local: true do |f|
  .form__field
    %span.form__field__lavel 名前
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.label :name
      = f.text_field :name

  .form__field
    %span.form__field__lavel 料金
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.label :price
      = f.number_field :price

  .form__field
    %span.form__field__lavel 説明
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.label :description
      = f.text_area :description

  .form__field
    %span.form__field__lavel イメージ
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.fields_for :images do |i|
        = i.file_field :src

  .form__field
    %span.form__field__lavel カテゴリ
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.collection_select :category_id, @parents, :id, :name, prompt: "--" , class: "input", id: "parent-form", name: 'item[category_ids][]'
      = f.collection_select :size_id, Size.all, :id, :name, prompt: "--", class: 'input'
      = icon('icon', 'facebook-square',class: "form-icon")


  .form__field
    %span.form__field__lavel ブランド
    %span.form__field__arbitrary 任意
    .form__field--input.icon-relative
      = f.label :brand
      = f.text_field :brand

  .form__field
    %span.form__field__lavel サイズ
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.collection_select :size_id, Size.all, :id, :name, prompt: "--", class: 'input'
      = icon('icon', 'facebook-square',class: "form-icon")

  .form__field
    %span.form__field__lavel 商品の状態
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.collection_select :status_id, Status.all, :id, :name, prompt: "--", class: 'input'
      = icon('icon', 'facebook-square',class: "form-icon")

  .form__field
    %span.form__field__lavel 配送料
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.collection_select :shipfee_id, Shipfee.all, :id, :name, prompt: "--", class: 'input'
      = icon('icon', 'facebook-square',class: "form-icon")

  .form__field
    %span.form__field__lavel 発送元の地域
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.collection_select :shipregion_id, Shipregion.all, :id, :name, prompt: "--", class: 'input'
      = icon('icon', 'facebook-square',class: "form-icon")

  .form__field
    %span.form__field__lavel 発送日までの目安
    %span.form__field__arbitrary 必須
    .form__field--input.icon-relative
      = f.collection_select :estshipdate_id, Estshipdate.all, :id, :name, prompt: "--", class: 'input'
      = icon('icon', 'facebook-square',class: "form-icon")

  .form-btn
    = f.submit
