.productList
  = link_to product_path(product) do
    %figure.productList--img
      = image_tag product.images.first.src.url, alt: "#{product.id}の画像"
    .productList--body
      - if product.name.length < 20
        %h3.name= product.name
      - if product.name.length > 20
        %h3.name= "#{sprintf("%.20s", product.name)}…"
      .details
        %ul
          %li=product.price.to_s + "円"
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)